<form class="agreement-form" action="submit">
  <div class="agreement-form--input-container">
    <input class="checkbox" type="checkbox" id="personalData">
    <label for="personalData">
      Я даю согласие на обработку моих персональных данных
      и принимаю условия политики конфиденциальности и
      пользовательского соглащения
    </label>
  </div>
  <div class="agreement-form--input-container">
    <input class="checkbox" type="checkbox" id="proposals">
    <label for="proposals">
      Я хочу получать выгодные предложения
    </label>
  </div>
  <button class="btn-reset form-submit-button">Завершить регистрацицю</button>
</form>
