<form  class="partner-form">
  <div class="input-container">
    <input class="input-reset input" type="text" placeholder="Имя Фамилия"/>
  </div>
  <div class="input-container">
    <input class="input-reset input" type="text" placeholder="Название компании"/>
  </div>
  <div class="input-container">
    <input class="input-reset input" type="text" placeholder="ИНН"/>
  </div>
  <div class="partner-form--lower">
    <div class="input-container">
      <input class="input-reset input" type="tel" placeholder="Номер телефона">
    </div>
    <div class="input-container">
      <input class="input-reset input" type="email" placeholder="Email">
    </div>
    <div class="input-container">
      <input class="input-reset input" type="password" placeholder="Пароль">
      <div class="partner-form--pass" ></div>
    </div>
    <div class="input-container">
      <input class="input-reset input" type="password" placeholder="Подтвердите пароль">
      <div class="partner-form--pass partner-form--pass--active" ></div>
    </div>
  </div>
  <button class="btn-reset form-submit-button" type="submit">Зарегистрироваться</button>
  <span class="enter-account">Уже есть аккаунт? <a href="#">Войти</a></span>
</form>
