<div class="received-code">
  <span class="received-code--title"><img src="img/svg/notification.svg" alt="">На указанный номер отправлен авторизационный код</span>
  <form class="received-code--form" action="">
      <div class="received-code--form--container">
        <p class="received-code--form--title">Введите полученный код</p>
        <input class="received-code--form--input" type="text" placeholder="•   •   •   •" />
        <p class="received-code--form--retry">Отправить код еще раз</p>
      </div>
  </form>
</div>

