.tabs {
  margin-bottom: 62px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 17px;
  }
  &--button-container {
    font-size: 0;
  }
  &--button {
    background: $light-grey;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 15px 25px;
    line-height: 120%;
    @include media-breakpoint-down(md) {
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 120%;
    }
    &.is-active {
      background: $blue;
      color: $white;
    }
    &--left {
      border-radius: 10px 0 0 0;
    }
    &--right {
      border-radius: 0 10px 0 0;
    }
  }
  &--content {
    &--container {
      border: 1px solid $light-grey2;
      border-radius: 0 10px 10px 10px;
      padding: 38px 43px;
      font-size: 1.125rem;
      color: $grey;
      line-height: 140%;
      font-weight: 500;
      @include media-breakpoint-down(md) {
        padding: 15px;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 140%;
      }
    }
    &--panel {
      display: none;
      &.is-active {
        display: block;
      }
    }
  }
}
