<div class="header-navigation--container">
  <nav>
    <div class="header-navigation">
      <div class="container header-navigation--inner-container">
        <p class="header-navigation--inner-container--item">Рестораны / доставка &or; </p>
        <p class="header-navigation--inner-container--item">Красота &or; </p>
        <p class="header-navigation--inner-container--item">Здоровье &or; </p>
        <p class="header-navigation--inner-container--item">Развлечения &or; </p>
        <p class="header-navigation--inner-container--item">Услуги &or; </p>
        <p class="header-navigation--inner-container--item">Товары &or; </p>
        <p class="header-navigation--inner-container--item">Авто &or; </p>
        <p class="header-navigation--inner-container--item">Обучение &or; </p>
        <p class="header-navigation--inner-container--item">Дети &or; </p>
        <p class="header-navigation--inner-container--item">Разное &or; </p>
      </div>
    </div>
    <div class="header-navigation--options ">
      <div class="container header-navigation--options--container">
        <p>Рестораны</p>
        <p>Доставка еды</p>
        <p>Пицца</p>
        <p>Какой то еще пункт</p>
      </div>
    </div>
  </nav>
</div>
