<div class="header-navigation--container">
  <nav>
    <div class="header-navigation">
      <div class="container header-navigation--inner-container">
        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Рестораны / доставка
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>Рестораны</p>
              <p>Доставка еды</p>
              <p>Пицца</p>
              <p>Какой то еще пункт</p>
            </div>
          </div>
        </div>

        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Красота
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>Рестораны 2</p>
              <p>Доставка еды 2</p>
              <p>Пицца 2</p>
              <p>Какой то еще пункт 2</p>
            </div>
          </div>
        </div>

        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Здоровье
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>test</p>
              <p>test</p>
              <p>test</p>
            </div>
          </div>
        </div>

        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Развлечения
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>test</p>
              <p>test</p>
              <p>test</p>
            </div>
          </div>
        </div>

        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Услуги
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>test</p>
              <p>test</p>
              <p>test</p>
            </div>
          </div>
        </div>

        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Товары
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>test</p>
              <p>test</p>
              <p>test</p>
            </div>
          </div>
        </div>

        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Авто
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>test</p>
              <p>test</p>
              <p>test</p>
            </div>
          </div>
        </div>

        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Обучение
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>test</p>
              <p>test</p>
              <p>test</p>
            </div>
          </div>
        </div>

        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Дети
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>test</p>
              <p>test</p>
              <p>test</p>
            </div>
          </div>
        </div>

        <div class="header-navigation--inner-container--item">
          <p class="header-navigation--inner-container--item--title">
            Разное
          </p>
          <div class="header-navigation--inner-container--item--dropdown">
            <div class="container header-navigation--inner-container--item--dropdown--container">
              <p>test</p>
              <p>test</p>
              <p>test</p>
            </div>
          </div>
        </div>



<!--        <p class="header-navigation&#45;&#45;inner-container&#45;&#45;item">Красота  </p>-->
<!--        <p class="header-navigation&#45;&#45;inner-container&#45;&#45;item">Здоровье  </p>-->
<!--        <p class="header-navigation&#45;&#45;inner-container&#45;&#45;item">Развлечения  </p>-->
<!--        <p class="header-navigation&#45;&#45;inner-container&#45;&#45;item">Услуги  </p>-->
<!--        <p class="header-navigation&#45;&#45;inner-container&#45;&#45;item">Товары  </p>-->
<!--        <p class="header-navigation&#45;&#45;inner-container&#45;&#45;item">Авто  </p>-->
<!--        <p class="header-navigation&#45;&#45;inner-container&#45;&#45;item">Обучение  </p>-->
<!--        <p class="header-navigation&#45;&#45;inner-container&#45;&#45;item">Дети  </p>-->
<!--        <p class="header-navigation&#45;&#45;inner-container&#45;&#45;item">Разное  </p>-->
      </div>
    </div>
  </nav>
</div>

