<div class="header-navigation--container">
  <nav>
    <div class="header-navigation">
      <div class="container header-navigation--inner-container">
        <p class="header-navigation--inner-container--item">Рестораны / доставка  </p>
        <p class="header-navigation--inner-container--item">Красота  </p>
        <p class="header-navigation--inner-container--item">Здоровье  </p>
        <p class="header-navigation--inner-container--item">Развлечения  </p>
        <p class="header-navigation--inner-container--item">Услуги  </p>
        <p class="header-navigation--inner-container--item">Товары  </p>
        <p class="header-navigation--inner-container--item">Авто  </p>
        <p class="header-navigation--inner-container--item">Обучение  </p>
        <p class="header-navigation--inner-container--item">Дети  </p>
        <p class="header-navigation--inner-container--item">Разное  </p>
      </div>
    </div>
  </nav>
</div>

