<div class="blog-preview">
  <img class="blog-preview--image" src="img/jpg/blog.jpeg" alt="">
  <p class="blog-preview--title">SPA-шугаринг и восковая
    депиляция в студии
    красоты «Руслана»
  </p>
  <article class="blog-preview--description">
    Один человек может купить неограниченное количество купонов для
    себя или в подарок.
    Один человек может использовать неограниченное количество купонов за все
    время проведения акции.
  </article>
  <div class="blog-date--container">
    <img class="blog-date--image" src="img/svg/calendar-blue.svg" alt="">
    <span class="blog-date">22 октября 2021</span>
  </div>
</div>
