.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 64px;
  }
  &--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 727px;
    & span {
      color: $blue;
      margin-right: 10px;
    }
    & h2 {
      & span {
        margin-left: 10px;
        margin-right: 0;
      }
    }
    & p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $secondary-gray;

      @include media-breakpoint-down(md) {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      & span {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        @include media-breakpoint-down(md) {
          font-size: 14px;
        }
      }
    }
  }
  & img {
    max-width: 554px;
    @include media-breakpoint-down(lg) {
      max-width: 400px;
      align-self: center;
    }
  }
}
