.blog-preview {
  &--image {
    border-radius: 20px 20px 0 0;
    margin-bottom: 35px;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
  &--title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 140%;
    max-width: 90%;
    margin: 0;
    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
      max-width: 100%;
      font-style: normal;
    }
  }
  &--description {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    color: $secondary-gray;
    margin-top: 17px;
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {
      font-size: 0.875rem;
    }
  }
}

.blog-date--container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  & .blog-date--image {
    margin-top: -3px;
  }
  & .blog-date {

  }
}
