html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: Inter, sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.3vw;
  color: $white;

  @include media-breakpoint-down(md) {
    font-size: 25px;
  }
}

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;

  @include media-breakpoint-down(md) {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  font-size: 18px;
  line-height: 22px;
  color: $white;
  &--square {
    width: 263px;
    height: 50px;
    background: $button-gradient;
    border-radius: 5px;
  }
  &--round {
    width: 383px;
    height: 70px;
    border-radius: 60px;
    background: linear-gradient(92.82deg, #FF4C4C 16.11%, #FF9090 104.36%);
    box-shadow: 0 0 30px rgba(255, 76, 76, 0.5);
  }
  &--secondary {
    background: $blue;
    width: 179px;
    height: 40px;
    &--square {
    border-radius: 5px;
    }
    &--round {
      border-radius: 60px;
    }
  }

}

.burger {
  --burger-width: 35px;
  --burger-height: 19px;
  --burger-line-height: 2px;
  position: absolute;
  z-index: 1000;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: $white;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: $white;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
  border-radius: 50px;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.burger:focus::after {
  opacity: 1;
}




