$light-grey: #F2F2F2;
$dark-blue: #183573;
$blue: #5387F7;
$light-blue: #6897FD;
$aquamarine: #8CDBFF;
$white: #FFFF;
$black: #1F1F1F;
$red: #FF5D5D;

$t-light-grey: #A8A8A8;

$button-gradient: linear-gradient(92.82deg, #FF4C4C 16.11%, #FF9090 104.36%);

$light-gradient: linear-gradient(108.06deg, #5387F7 11.58%, #FFC6C6 85.33%);