footer {
  background-color: $light-grey;
  border-radius: 40px 40px 0px 0px;
}

.footer--container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  gap: 10px;
  @include media-breakpoint-down(lg) {
    gap: 50px;
  }
  @include media-breakpoint-down(sm) {
    gap: 26px;
    flex-direction: column;
  }
}

.footer--content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &--logo {
    @include media-breakpoint-down(sm) {
      height: 82px;
      width: 126px;
      align-self: center;
    }
  }
  &--title {
    margin:0;
    font-weight: 700;
    font-size: 16px;
  }
  &--link {
    font-weight: 400;
    font-size: 14px;
    color: $secondary-gray;
  }
  &--social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
      margin-top: 40px;
      align-self: center;
    }
    &--description {
      max-width: 351px;
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      color: $secondary-gray;
      line-height: 140%;
      margin-bottom: 32px;
    }
    &--icons {
      display: flex;
      gap: 18px;
      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }
  }
}
