<section class="container">
  <div class="advantages">
  <h2 class="advantages--title">Наши <span>преимущества</span></h2>
    <div class="advantages--container">
      <div class="advantages--item">
        <img src="img/png/handshake.png" alt="">
        <p>Работаем напрямую с компаниями-партнёрами </p>
        <p>Мы предоставляем большую скидку на услуги, чем агрегаторы. </p>
      </div>
      <div class="advantages--item">
        <img src="img/png/moneyback.png" alt="">
        <p>Гарантия возврата денег</p>
        <p>Если вы передумали, вы можете вернуть купон и мы предоставим вам балы для покупки другого купона </p>
      </div>
      <div class="advantages--item">
        <img src="img/png/goods.png" alt="">
        <p>Всегда свежие акции</p>
        <p>Мы постоянно расширяем наш список партнёров и акций, чтобы вы могли сэкономить</p>
      </div>
    </div>
  </div>
</section>
