<div class="container swiper-container">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="swiper-image" src="img/jpg/sliderimage.jpeg" alt="">
        <img class="swiper-image--sm" src="img/jpg/sliderimage-sm.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img class="swiper-image" src="img/jpg/sliderimage.jpeg" alt="">
        <img class="swiper-image--sm" src="img/jpg/sliderimage-sm.jpg" alt="">

      </div>
      <div class="swiper-slide">
        <img class="swiper-image" src="img/jpg/sliderimage.jpeg" alt="">
        <img class="swiper-image--sm" src="img/jpg/sliderimage-sm.jpg" alt="">
      </div>
    </div>
    <img src="img/svg/swiper-next.svg" class="swiper-button-next swipbtn" />
    <img src="img/svg/swiper-prev.svg" class="swiper-button-prev swipbtn" />
    <div class="swiper-pagination"></div>
  </div>
</div>
