<section class="container personal-cabinet">
  <div class="title-container">
    <h1 class="personal-cabinet--title">Личный кабинет / Профиль</h1>
    <span class="logout logout-mobile">
      <img src="img/svg/power.svg" alt="">
        Выйти
    </span>
    <div class="balance-container">
      <div class="balance">
        <p>Баланс: <span>1500 ₽</span></p>
      </div>
      <p class="balance-up">Пополнить</p>
    </div>
  </div>
  <div class="profile-container">
    <div class="profile-navigation user-profile">
      <ul class="profile-navigation--list">
        <li class="active">
          Профиль
        </li>
        <li>Мои объявления</li>
        <li>История оплат</li>
        <li>Статистика</li>
      </ul>
      <button class="btn-reset profile-navigation--button">
        Создать объявление
      </button>
      <span class="logout">
        <img src="img/svg/power.svg" alt="">
        Выйти
      </span>
    </div>
    <div class="profile-info">
      <form class="profile-info--form">
        <div>
          <label class="profile-info--label" for="profile-name">Введите Ваше имя</label>
          <div class="input-container">
            <input class="input-reset input" type="text" id="profile-name" placeholder="Иван">
            <div class="input--edit"></div>
          </div>
        </div>
        <div>
          <label for="profile-second-name">Введите Вашу фамилию</label>
          <div class="input-container">
            <input class="input-reset input" type="text" id="profile-second-name" placeholder="Иванов">
            <div class="input--edit"></div>
          </div>
        </div>
        <div>
          <label for="profile-company-name">Компания</label>
          <div class="input-container">
            <input class="input-reset input" type="text" id="profile-company-name" placeholder="Название компании">
            <div class="input--edit"></div>
          </div>
        </div>
        <div>
          <label for="profile-phone">Номер телефона</label>
          <div class="input-container">
            <input class="input-reset input" type="tel" id="profile-phone" placeholder="+7 (999) 978 - 54 - 52">
          </div>
        </div>
        <div>
          <label for="profile-city">Город</label>
          <div class="input-container">
            <input class="input-reset input" id="profile-city" type="text" placeholder="Самара">
            <div class="input--edit"></div>
          </div>
        </div>
      </form>
      <div class="profile-info--category">
        <div>
          <label for="category">Категория</label>
          <div class="input-container">
            <input class="input-reset input" type="text" id="category" placeholder="Красота">
            <div class="input--edit"></div>
          </div>
        </div>
        <div>
          <label for="subCategory">Подкатегории</label>
          <div class="input-container profile-info--category--subcategory" id="subCategory">
            <p>Шугаринг</p>
            <p>SPA</p>
            <p>Ногтевой сервис</p>
            <p>Парикмахерское дело</p>
            <p>Косметика</p>
          </div>
        </div>
      </div>
        <div class="personal-cabinet--password">
          <label for="personalCabinetPassword">Пароль</label>
          <div class="input-container">
            <input class="input-reset input" type="password" id="personalCabinetPassword" placeholder="************">
            <div class="input--edit"></div>
          </div>
        </div>
    </div>
  </div>

</section>
