<section class="container personal-cabinet-submit">
  <div class="title-container">
    <h1 class="personal-cabinet--title">Личный кабинет / Профиль</h1>
    <span class="logout logout-mobile">
      <img src="img/svg/power.svg" alt="">
        Выйти
    </span>
    <div class="step-button">
      <span>Шаг 1</span>
    </div>
  </div>
  <div class="profile-container submit-container">
    <div class="profile-navigation user-profile">
      <ul class="profile-navigation--list">
        <li >Профиль</li>
        <li class="active">Мои объявления</li>
        <li>История оплат</li>
        <li>Статистика</li>
      </ul>
      <button class="btn-reset profile-navigation--button">
        Создать объявление
      </button>
      <span class="logout">
        <img src="img/svg/power.svg" alt="">
        Выйти
      </span>
    </div>
    <div class="profile-info">
      <h3>варианты размещения</h3>
      <div class="placement-options-container">
        <div class="placement-option">
          <div class="placement-option--head placement-option--head--active">
            <input type="radio">
            <label>Платное размещение</label>
          </div>
          <div class="placement-article-container">
            <article class="placement-article">
              2000, 00 за 1 размещение в новой подкатегории.
              Промокод не получает стоимость и является бесплатным,
              указывается только размер скидки.
            </article>
            <article class="placement-article">
              <p class="placement-article--title">Описание</p>
              Вы создаёте платное объявление с указанием скидки на ваш товар
              или услугу. Данному объявлению не присваивается стоимость и все
              посетители нашего сайта смогут получить ваш промокод бесплатно!
              Т.е. пользователь q-pon.ru бесплатно получает доступ к вашей
              скидке.
            </article>
          </div>
        </div>
        <div class="placement-option">
          <div class="placement-option--head">
            <input type="radio">
            <label>Бесплатное размещение</label>
          </div>
          <div class="placement-article-container">
            <article class="placement-article">
              Cколько угодно объявлений в пределах 1 выбранной подкатегории
              (например пилинг или покраска волос)
              Стоимость промокода генерируется в зависимости от стоимости
              услуги, после скидки. Промокод получает стоимость.
            </article>
            <article class="placement-article">
              <p class="placement-article--title">Описание</p>
              Вы создаёте платное объявление с указанием скидки на ваш товар
              или услугу. Данному объявлению не присваивается стоимость и все
              посетители нашего сайта смогут получить ваш промокод бесплатно!
              Т.е. пользователь q-pon.ru бесплатно получает доступ к вашей
              скидке.
            </article>
          </div>
        </div>
        <button class="btn-reset button-next">Далее</button>
      </div>
    </div>
  </div>

</section>
