<main>
  <div class="container  testcat">
    <div class="company">
      <div class="company--title">
        <span>Адидас</span>
      </div>
      <button class="company--button">Показать на карте</button>
      <button class="company--button company--button--mobile">Показать</button>
    </div>
    <div class="filter--container">
      <div class="filter">
        <div class="filter--title">
          <div class="filter--option">
            <p>Популярное</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
        </div>
        <div class="filter--list">
          <div class="filter--option">
            <p>Все</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Рестораны / доставка</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Красота</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Здоровье</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Развлечения</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Услуги</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Товары</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Авто</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Обучение</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Дети</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
          <div class="filter--option">
            <p>Разное</p>
            <img src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
        </div>
      </div>
    </div>
    <div class="items">
      <div class="company-card">
        <div class="company-card--image-container">
          <img class="company-card--logo" src="img/svg/adidas.svg" alt="logo">
        </div>
        <div class="company-card--description company-card--description--title">
          <p>Адисас в две строки
            <br />
            название</p>
        </div>
        <div class="company-card--description company-card--description--details">
          <p>Категория: <span>Красота</span></p>
          <p>Адрес: <span>г.Самара, ул. Ленина, 19.</span></p>
          <p>Скидки: <span>от 50%</span></p>
        </div>
        <p class="company-card--description--amount"  >345 купонов </p>
      </div>
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
    </div>
    <div class="show-more">
      <p class="show-more--title">Показать еще</p>
      <img src="img/svg/show-more.svg" alt="show more">
    </div>
  </div>
</main>



