<footer class="footer">
  <div class="container footer--container">
    <div class="footer--content">
      <img class="footer--content--logo" src="img/svg/logo.svg" alt="logo">
    </div>
    <div class="footer--content">
      <p class="footer--content--title">
        Компания
      </p>
      <a class="footer--content--link" href="">О компании</a>
      <a class="footer--content--link" href="">Как работает G-pon?</a>
    </div>
    <div class="footer--content">
      <p class="footer--content--title">
        Информация
      </p>
      <a class="footer--content--link" href="">Вопрос - ответ</a>
      <a class="footer--content--link" href="">Отзывы</a>
    </div>
    <div class="footer--content">
      <p class="footer--content--title">
        Партнёрам
      </p>
      <a class="footer--content--link" href="">Разместить акцию</a>
      <a class="footer--content--link" href="">Партнёрская программа</a>
    </div>
    <div class="footer--content--social-media">
      <p class="footer--content--social-media--description">
        Подпишитесь на наши соц.сети, чтобы всегда быть в курсе свежих акций:
      </p>
      <div class="footer--content--social-media--icons">
        <a  href="">
          <img src="img/svg/telegram.svg" alt="telegram">
        </a>
        <a style="display: inline" href="">
          <img src="img/svg/vk.svg" alt="vk">
        </a>
      </div>

    </div>
  </div>
</footer>
