.user-payment-story--container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 32px;
  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;

  }
  & .logout {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
.table-container {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: $secondary-gray;
  font-size: 1rem;
  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
  &--title {
    background-color: $light-grey;
    height: 64px;
  }
  &--item {
    height: 75px;
    border-bottom: 1px solid $light-grey;
    @include media-breakpoint-down(sm) {
      font-size: 0.75rem;
    }
  }
}

.table-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 25px;
}

.favorites-dropdown {
  border: none;
  min-width: 204px;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  background-image: none;
  &::after {
    content: url("../img/svg/arrow-down-black.svg");
    margin-left: 25px;
    width: 12px;
    height: 7.42px;
    margin-top: -10px;
  }
}
