.second-step {
  padding-bottom: 120px;
  & label {
    display: inline-block;
    margin-bottom: 17px;
    font-weight: 600;
  }
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: baseline;
  gap: 33px;
  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }
}
.dropdown-selector--content-container {
  z-index: 21;
}

.dropdown-selector-container--common {
  width: 100%;
  & .dropdown-selector {
    background-position: 95% center;
  }
  &--long {
    grid-column: 1/3;
    @include media-breakpoint-down(sm) {
      grid-column: 1;
    }
  }
  &--white {
    & .dropdown-selector {
      background-color: $white;
    }
  }
}

.input--calendar {
  background: url("../img/svg/calendar.svg") center no-repeat;
  cursor: pointer;
}

.input-with-label--long {
  grid-column: 1/3;
  @include media-breakpoint-down(sm) {
    grid-column: 1;
  }
}

.drag-n-drop {
  min-height: 176px;
  border: 1px dashed $light-grey2;
  border-radius: 20px;
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  & span {
    font-weight: 500;
    font-size: 14px;
    color: $secondary-gray;
  }
  &--description {
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: $secondary-gray;
  }
}

.input-description-type {
  min-height: 150px;
}

.text-area {
  max-width: 100%;
  padding: 18px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.input-container-with-label {
  height: 56px;
  & input {
    font-size: 1rem;
  }
}

.promotion-checkbox {
  font-size: 18px;
  font-weight: 600;
}

.second-step-submit {
  grid-column: 1/3;
  @include media-breakpoint-down(sm) {
    grid-column: 1;
  }
}

.into-the-top {
  display: none;
}

.into-the-top--active {
  grid-column: 1/3;
  background-color: $light-grey;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 37px 46px 69px 46px;
  gap: 32px;
  @include media-breakpoint-down(sm) {
    grid-column: 1;
    grid-template-columns: 1fr;
  }
  &--price {
    font-weight: 600;
  }
}
