<div class="rating-block">
  <div class="rating-block--company-number">
    <span class="rating-block--number">
      1.
    </span>
    <span class="rating-block--company-name">
      Название компании
    </span>
  </div>
  <div class="rating-block--category-container">
    <span class="rating-block--category">Категория:</span>
    <span class="rating-block--category-type">Красота</span>
  </div>
  <div class="rating-block--rating-container">
    <span class="rating-block--rating-title">Рейтинг:</span>
    <span class="rating-block--rating"> 4.7</span>
    <img class="rating-block--stars" src="img/svg/stars.svg" >
  </div>
</div>
