<main>
  <div class="container categories--qpon">
    <div class="filter--container">
      <div class="filter">
        <div class="filter--title">
          <img class="filter--title--arrow" src="img/svg/arrow-down-blue.svg" alt="arrow">
          <div class="filter--title--container">
            <p class="filter--title--container--name">Красота</p>
            <img class="filter--title--arrow-sm" src="img/svg/arrow-down-blue.svg" alt="arrow">
          </div>
        </div>
        <div class="filter--list">
          <div class="filter--option">
            <div class="filter--option--inner">
              <p>Шугаринг</p>
            </div>
          </div>
          <div class="filter--option">
            <div class="filter--option--inner">
              <p>Эпляция</p>
            </div>
          </div>
          <div class="filter--option">
            <div class="filter--option--inner">
              <p>Уход за волосами</p>
            </div>
          </div>
          <div class="filter--option">
            <div class="filter--option--inner">
              <p>Маникюр</p>
            </div>
          </div>
          <div class="filter--option">
            <div class="filter--option--inner">
              <p>Массаж</p>
            </div>
          </div>
          <div class="filter--option">
            <div class="filter--option--inner">
              <p>Косметология</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="items">
      <div class="items--title">
        <div class="items--title--text">
          <span>Шугаринг</span>
        </div>
        <button class="items--button">Показать на карте</button>
        <button class="items--button items--button--mobile">Показать</button>
      </div>
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
      @@include('../itemCard/index.html')
    </div>
    <div class="show-more">
      <p class="show-more--title">Показать еще</p>
      <img src="img/svg/show-more.svg" alt="show more">
    </div>
  </div>
</main>
