<section class="promo-code-addresses container">
  <div class="promo-code-addresses--label">Адреса</div>
  <div class="promo-code-addresses--map-container">
    <div class="promo-code-addresses--map-container--addresses">
      <span class="promo-code-addresses--map-container--addresses--address"><img src="img/svg/underground.svg" alt="underground"> Смоленская, Адрес: г.Самара, ул. Ленина, 37</span>
      <span class="promo-code-addresses--map-container--addresses--address"><img src="img/svg/underground.svg" alt="underground"> Смоленская, Адрес: г.Самара, ул. Ленина, 37</span>
      <span class="promo-code-addresses--map-container--addresses--address"><img src="img/svg/underground.svg" alt="underground"> Смоленская, Адрес: г.Самара, ул. Ленина, 37</span>
    </div>
    <img class="promo-code-addresses--map-container--map" src="img/jpg/map.jpeg" alt="map">
  </div>
</section>
