<section class="promo-code">
  <div class="container promo-code--container">
    <img src="img/jpg/galery.jpg" alt="galery">
    <div class="promo-code--advertisement">
      <h1 class="promo-code--advertisement--title">
        Заголовок объявления в две строки
        <br />
        объявления в две строки
      </h1>
      <div class="promo-code--advertisement--inner-container">
        <!--      left-->
        <div class="promo-code--advertisement--info-block">
          <p class="promo-code--advertisement--address">
            Смоленская, Адрес: г.Самара, ул. Ленина, 37
          </p>
          <div class="promo-code--advertisement--price-block">
            <p class="promo-code--advertisement--price-block--price">от 500 ₽<span>500 ₽</span></p>
            <div class="promo-code--advertisement--price-block--discount">
              <img src="img/svg/discount.svg" alt="discount">
              <p>Экономия 800₽</p>
            </div>
          </div>
          <button class="btn-reset promo-code--advertisement--button">Купить купон</button>
          <p class="promo-code--advertisement--event-title">
            До конца акции: <span>04д : 08ч : 57м</span>
          </p>
          <div class="promo-code--advertisement--event-container">
            <div class="promo-code--advertisement--event-term">
              <p class="promo-code--advertisement--event-top">
                Начало действия
              </p>
              <p class="promo-code--advertisement--event-bottom">
                10 декабря 2022 г.
              </p>
            </div>
            <div>
              <p class="promo-code--advertisement--event-top">
                Конец действия
              </p>
              <p class="promo-code--advertisement--event-bottom">
                15 декабря 2022 г.
              </p>
            </div>
          </div>
        </div>
        <!--      right-->
        <div class="promo-code--social-media-block">
          <div class="promo-code--social-media-block--container">
            <div class="promo-code--social-media-block--links">
              <span><img src="img/svg/globe.svg" alt=""> <a href="">www.site.ru</a></span>
              <span><img src="img/svg/telegram.svg" alt=""> <a href="">Telegram</a></span>
              <span><img src="img/svg/instagram.svg" alt=""> <a href="">Instagram</a></span>
            </div>
            <div class="promo-code--social-media-block--amount">
              <span>1 купон купили</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
