<section class="container registration--container registration">
  <div class="registration--top">
    <div class="registration--top--title-container">
      <h1 class="registration--top--title">Регистрация</h1>
      <p class="registration--top--subtitle">ШАГ 1</p>
    </div>
    <div class="registration--top--buttons">
      <button class="btn-reset registration--top--button registration--top--button--active">Покупатель</button>
      <button class="btn-reset registration--top--button">Партнер</button>
    </div>
  </div>
  @@include('./first-step.html')
  @@include('../registration-partner/received-code.html')
  @@include('./step-three.html')
</section>
