<form class="user-registration-form">
  <div class="input-container">
    <input class="input-reset input" type="text" placeholder="Имя Фамилия ">
  </div>
  <div class="input-container">
    <input class="input-reset input" type="tel" placeholder="Номер телефона">
  </div>
  <div class="user-registration-form--button-container">
    <button class="btn-reset user-registration-form--button-container--send-code" type="submit">Выслать код</button>
    <button class="btn-reset  user-registration-form--button-container--next-step">Далее </button>
  </div>
</form>
