<form class="agreement-form user-agreement-form" action="submit">
  <span class="user-agreement-form--title">
    <img src="img/svg/mail.svg" alt="">Введите ваш e mail. На него будут приходить
    приобретённые промокоды с информацией
  </span>
  <div class="input-container user-agreement-form--input-container">
    <input class="input-reset input" type="email" placeholder="Email">
  </div>
  <div class="user-agreement-form--checkbox-container">
    <div class="agreement-form--input-container">
      <input class="checkbox" type="checkbox" id="personalData">
      <label for="personalData">
        Я даю согласие на обработку моих персональных данных
        и принимаю условия политики конфиденциальности и
        пользовательского соглащения
      </label>
    </div>
    <div class="agreement-form--input-container">
      <input class="checkbox" type="checkbox" id="proposals">
      <label for="proposals">
        Я хочу получать выгодные предложения
      </label>
    </div>
  </div>
  <button type="submit" class="btn-reset form-submit-button">Завершить регистрацицю</button>
</form>
