.header {
  display: grid;
  & .top-head {
    @include media-breakpoint-down(sm) {
      grid-row: 3/4;
    }
  }
  & .header-search {
    @include media-breakpoint-down(sm) {
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.07);
    }
  }
  .adaptive-search {
    display: none;
    @include media-breakpoint-down(sm) {
      //display: block;
      grid-row: 2/3;
    }
    &--container {
      padding-top: 24px;
      padding-bottom: 31px;
    }
  }
  &--visible {
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
