.header-search {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding-bottom: 32px;
  padding-top: 26px;
  @include media-breakpoint-down(sm) {
    gap: normal;
    padding-bottom: 22px;
    padding-top: 23px;
  }
  &--logo-container {
    width: 126px;
    height: 82px;
    @include media-breakpoint-down(md) {
      flex-grow: 2;
      width: auto;
      height: auto;
    }
  }
  &--logo {
    min-width: 126px;
    height: 82px;
    @include media-breakpoint-down(sm) {
      min-width: auto;
      height: 41.8px;
    }
  }
  &--button {
    min-width: 108px;
    height: 49px;
    border-radius: 10px;
    background-color: $light-grey;
    background-image: url("../img/svg/user.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 27px;
    font-size: 13px;
    padding-left: 30px;
    @include media-breakpoint-down(sm) {
      height: 30px;
      min-width: 80px;
      background-position-x: 10px;
      background-size: 14px;
      padding-left: 10px;
      font-size: 12px;
      margin-right: 17px;
    }
  }
  & .search {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
