<div class="item-card">
  <div class="item-card--image-container">
    <img class="item-card--image" src="img/jpg/item-card.jpeg">
    <div class="item-card--statistics">
      <img src="img/svg/statistics.svg" alt="">
      <p>Статистика</p>
    </div>
  </div>
  <div class="item-card--container">
    <div class="item-card--top">
      <div class="item-card--top--discount">
        <span>-78%</span>
      </div>
      <input type="checkbox">
    </div>
    <div class="item-card--description">
      <p>Посещения сеансов LPG-массажа всего тела в «Салоне красоты»</p>
      <p>Лазерная эпиляция, описание очень короткое в две строки...</p>
      <p>Адрес: г.Самара, ул. Ленина, 19.</p>
    </div>
    <div class="item-card--price">
      <p>от 500 ₽</p>
      <p>(кулено 1400 шт)</p>
    </div>
  </div>
</div>
