.user-agreement-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 28px;
  margin-bottom: 102px;
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
    margin-bottom: 80px;
  }
  &--title {
    margin-top: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    display: flex;
    gap: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 140%;
    color: $secondary-gray;
    & img {
      margin-top: 5px;
      width: 20px;
      height: 16px;
    }

  }
  &--input-container {

  }
  &--checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
