<section class="company-head">
  <div class="container company-head--container">
    <div class="company-head--logo-block">
      <img src="img/svg/adidas.svg" alt="">
    </div>
    <div class="company-head--article">
      <h1 class="company-head--article--title">
        Название компании
        <br />
        в две строки </h1>
      <article class="company-head--article--description">
        Товарищи! дальнейшее развитие различных форм деятельности
        требуют от нас анализа новых предложений. Товарищи! постоянный
        количественный рост и сфера нашей активности влечет за собой
        процесс внедрения и модернизации позиций, занимаемых участниками
        в отношении поставленных задач. Разнообразный и богатый опыт начало
        повседневной работы по формированию позиции влечет за собой процесс
        внедрения и модернизации существенных финансовых и административных
        условий.
      </article>
    </div>
    <div class="company-head--social-media-block">
      <div class="company-head--social-media-block--container">
        <ul>
          <li>
            <a href="">
              <img src="img/svg/globe.svg" alt="globe">
              <span>www.site.ru</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/svg/telegram.svg" alt="telegram">
              <span>Telegram</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/svg/instagram.svg" alt="instagram">
              <span>Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
